In [8]:
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
titanic_df = pd.DataFrame.from_csv('data/titanic_train.csv')
titanic_df_test = pd.DataFrame.from_csv('data/titanic_test.csv')

In [10]:
titanic_df.shape

(891, 11)

In [11]:
titanic_df_test.shape

(418, 10)

In [12]:
titanic_df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [13]:
plt.figsize(16,4)
plt.subplot(1,6,1).hist(titanic_df.Age.dropna())
plt.subplot(1,6,2).hist(titanic_df.Survived)
plt.subplot(1,6,3).hist(titanic_df.Pclass)
plt.subplot(1,6,4).hist(titanic_df.Fare)
plt.subplot(1,6,5).hist(titanic_df.SibSp)

AttributeError: 'module' object has no attribute 'figsize'